body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin: 0;
  padding: 20px;
}

.App {
  background-color: #ffffff;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  color: #333333;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #555555;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
input[type="datetime-local"] {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
input[type="datetime-local"]:focus {
  border-color: #66afe9;
  outline: none;
}

div > div > label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: #ff0000;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
  display: block;
}

form > div {
  margin-bottom: 15px;
}
